body {
    font-size: 15px;
  }
  
  button {
    background: linear-gradient(
45deg
, #eef757, transparent);
    border: 0;
    padding: 10px 20px;
  }
  
  img {
    max-width: 100%;
  }

  /* .wrapper */
  
  .wrapper {
    background-image: linear-gradient(
        316deg, #ff002e, rgb(61 241 2 / 55%));
    display: grid;
    grid-gap: 20px;
  }
  
  .top {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "hero hero cta1"
      "hero hero cta2"
  }
  
  .hero {
    grid-area: hero;
    min-height: 400px;
    background: url(picture/download\ \(6\).jfif);
    background-size: cover;
    background-position: bottom right;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .hero > * {
    background-image: linear-gradient(
        326deg, #38d606, #ff52008c);
    display: block;
    padding: 5px;
  }
  
  .cta {
    background: var(--yellow);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
  }
  
  .cta p {
    margin: 0;
  }
  
  .cta1 {
    grid-area: cta1;
  }
  
  .cta2 {
    grid-area: cta2;
  }
  
  .price {
    font-size: 60px;
    font-weight: 300;
  }
  
  /* Navigation */
  
  .menu ul {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  
  .menu a {
    background-color: #edd964;
    display : block;
    text-decoration:helvetica;
    padding: 10px;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-size: 20px;
  }
  
  [aria-controls="menu-list"] {
    display: none;
  }
  
  /* Features! */
  
  .features {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .feature {
    background: linear-gradient(
        256deg
        , #00dcff, #0000008a);
    padding: 10px;
    border: 1px solid #080808;
    text-align: center;
    box-shadow: inset 0 0 5px 2px #8800fd70;
  }
  
  .feature .icon {
    font-size: 50px;
  }
  .feature p {
    color: rgba(238, 12, 12, 0.5);
  }
  
  /* About Section */
  
  .about {
    background: linear-gradient(
        45deg
        , #f15555, transparent);
    padding:50px;
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
  }
  
  /* Gallery! */
  
  .gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .gallery img {
    width: 100%;
  }
  
  .gallery h2 {
    background-image: linear-gradient(
        45deg, #6904ef7a, #00f3e1);
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
  }
  
  .gallery h2:before, .gallery h2:after {
    display: block;
    content: '';
    height: 10px;
    background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
  }
  
  .gallery h2:after {
    --direction: right;
  }
  
  @media (max-width: 1000px) {
    .menu {
      perspective: 800px;
    }
    [aria-controls="menu-list"] {
      display: block;
      margin-bottom: 10px;
    }
  
    .menu ul {
      max-height: 0;
      overflow: hidden;
      transform: rotateX(90deg);
      transition: all 0.5s;
    }
  
    [aria-expanded="true"] ~ ul {
      display: grid;
      max-height: 500px;
      transform: rotateX(0);
    }
  
    [aria-expanded="false"] .close {
      display: none;
    }
  
    [aria-expanded="true"] .close {
      display: inline-block;
    }
  
    [aria-expanded="true"] .open {
      display: none;
    }
  
  }
  
  @media (max-width: 700px) {
    .top {
      grid-template-areas:
        "hero hero"
        "cta1 cta2"
    }
    /* About */
    .about {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 500px) {
    .top {
      grid-template-areas:
        "hero"
        "cta1"
        "cta2"
    }